body {
    margin: 100px auto;
}

.createaccount-page {
    margin: 10px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 1rem;
    background-color: rgb(73, 89, 101);
    margin: 10rem auto;
    width: 50rem;
    max-width: 95%;

}

.title {
    font-size: 40px;
    font-family: "Monaco" , " Lucida Console", "Courier New", monospace;

}

.user-input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-between; */
    gap: 23px;
    align-items: center;
    font-family: "Monaco" , " Lucida Console", "Courier New", monospace;

}

.username {
    display: flex;
    justify-content: center;
    width: 450px;
    height: 100px;
    font-size: 40px;
    font-family: "Monaco" , " Lucida Console", "Courier New", monospace;

}

.password {
    display: flex;
    justify-content: center;

    width: 450px;
    height: 100px;
    font-size: 40px;
    align-items: center;
    font-family: "Monaco" , " Lucida Console", "Courier New", monospace;

}

.next-button {
    display: flex;
    width: 100px;
    justify-content: center;
    margin: 25px;

    height: 80px;
    width: 250px;
    align-items: center;
    font-size: 30px;
    font-family: "Monaco" , " Lucida Console", "Courier New", monospace;

}

.create-account-button {
    display: flex;
    justify-content: center;
    /* width: 100px; */
    background-color: rgba(73, 89, 101, 0.581);
    margin: 25px auto;

    height: 80px;
    width: 250px;
    align-items: center;
    font-size: 30px;
    font-family: "Monaco" , " Lucida Console", "Courier New", monospace;

}