.wrap{
    background-color: #DB7D48;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    border-bottom-left-radius: 25%;
}

.logo{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}
