.StatBlock{
    background-color: #E8E5E5;
    width: 90%;
    margin-top: .5rem;
    margin-left: 5%;
    margin-right: 0%;
    display: grid;
    grid-template-columns: 1fr 2.5fr 2.5fr 1.8fr 2fr 1fr 3fr;
  }

  .Roster-class-img{
    padding: 1rem;
    border-radius: 50%;
    margin-left: 1.5rem;
    width: 3rem;
    height: 3rem;
  }

  .Roster-class-name{
    margin-left: 5%;
    text-align: left;
  }
  .school{
    text-align: center;
    margin-left:0;
  }

  .num{
    text-align: left;
    margin-left: 3.5rem;
  }

  .pos{
    margin-left: 2rem;
    text-align: left;
  }

  .hei{
    margin-left: 2.2rem;
    text-align: left;
  }

  .age{
    text-align: left;
  }
  