.user-item{
    background-color: #F5921F;
    margin-top: .25rem;
    margin-left: 10rem;
    margin-right: .5rem;
    width: 10rem;
    /* width:auto; */
    height: auto;
    max-width: 50%;
    display: flex;
    /* grid-template-columns: 1fr 3fr; */
    justify-content: center;
    text-align: center;
    font-size: 150%;
    flex-direction: row;

    /* display: block; */

  }
.uWrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.log-out{
    display: flex;
    flex-direction: row;

    /* display: block; */
    color: antiquewhite;
    text-decoration: none;
    font-size: 100%;
    text-align: center;
    /* margin-top: 0;
    margin-bottom: .4rem; */
    margin: auto;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.user-class-img{
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-left: auto;
    width: 75%;
    height: 75%;
    border-radius: 50%;
}

.user-class-name{
    color: rgb(255, 253, 253);
    margin-left: 10%;
    margin-top:.8rem;
    margin-bottom: .1rem;
}